th{
    background-color: cornflowerblue;
    color: white;
}

tr,td,th,table{
    border:1px solid lightblue;
    border-collapse;
}
td,th{
    padding: 1px solid. 15px;
}
tr: :nth-child(even) {
    background-color
}